.scene
  h1.title where is my cake?
    br
    span.question Um?
  .person
    .message I ...don't know...
    .hairs
      .hair1 
      .hair2 
      .hair3 
    .face
      .eyes
        .eye
          .eyeball 
        .eye
          .eyeball 
      .mouth
        .food 

